{% extends 'base.html.twig' %}

{% block title %}{{'panier.title'|trans}}{% endblock %}

{% block body %}
    <h1>{{'panier.title'|trans}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ panier.id }}</td>
            </tr>
            <tr>
                <th>{{'panier.date'|trans}}</th>
                <td>{{ panier.boughtAt ? panier.boughtAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>State</th>
                {% if panier.state is same as(true) %}
                    <td><i class="fas fa-check"></i></td>
                {% else %}
                    <td><i class="fas fa-times"></i> }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('panier_index') }}">back to list</a>

    <a href="{{ path('panier_edit', {'id': panier.id}) }}">edit</a>

    {{ include('panier/_delete_form.html.twig') }}
{% endblock %}
